<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quadsoft.moviesprojectqs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MoviesProjectQS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VeriÇekmeDeneme2">
        <activity android:name="com.quadsoft.moviesprojectqs.HelpActivity" />
        <activity android:name="com.quadsoft.moviesprojectqs.DetailsActivity" />
        <activity android:name="com.quadsoft.moviesprojectqs.EditProfileActivity" />
        <activity android:name="com.quadsoft.moviesprojectqs.RegisterActivity" />
        <activity android:name="com.quadsoft.moviesprojectqs.MainActivity" />
        <activity android:name="com.quadsoft.moviesprojectqs.activityProfile" />
        <activity android:name="com.quadsoft.moviesprojectqs.arsivActivity" />
        <activity android:name="com.quadsoft.moviesprojectqs.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>